.detail {
    max-width: 340px;
    margin: 120px auto;
    background-color: var(--white);
    border-radius: 10px;
    padding-bottom: 30px;
    box-shadow: 0 8px 10px var(--gray);
}

.detail__img {
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.detail__description {
    padding: 0 25px;
}

.detail__category {
    margin-top: 5px;
    font-size: 0.85rem;
    color: var(--dark-pink);
}

.detail__description__title {
    display: flex;
    column-gap: 10px;
    align-items: center;
    padding-top: 5px;
}

.detail__title {
    margin: 5px 0 10px;
}

.detail__icon {
    max-width: 25px;
    font-size: 20px;
}

.detail__information {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.detail__ingredients {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-bottom: 5px;
}

.detail__ingredients__icon {
    color: var(--dark-pink);
}

.detail__price {
    color: var(--dark-pink);
}

.detail__quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
}

.detail__units {
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}

.detail__units__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
}

.detail__units__quantity {
    width: 18px;
}

.detail__button__text {
    display: none;
}

.detail__cart__button {
    width: 280px;
    margin: 30px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail__cart__icon {
    margin-left: 2px;
    font-size: 1.2rem;
    transition: transform .3s ease-in-out;
}

.detail__cart__button:hover .detail__cart__icon {
    transform: translateX(5px);
}

.detail__home__button {
    background-color: transparent;
    border: 2px solid var(--light-pink);
    color: var(--black);
    font-weight: 500;
    width: 280px;
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail__home__icon {
    margin-right: 2px;
    font-size: 1.2rem;
    transition: transform .3s ease-in-out;
}

.detail__home__button:hover .detail__home__icon {
    transform: translateX(-5px);
}

.detail__empty__stock {
    text-align: center;
    padding: 0 20%;
}

.detail__warning {
    margin-top: 100px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 50px;
    text-align: center;
    padding: 0 30px;
}

/* Media Queries */

@media screen and (min-width: 768px) {
    .detail {
        max-width: 730px;
    }
    .detail__img {
        width: 100%;
        height: 400px;
    }
    .detail__description {
        padding: 15px 50px;
    }
    .detail__quantity {
        justify-content: space-around;
    }
    .detail__button__text {
        display: block;
        margin-left: 10px;
        font-weight: 500;
    }
    .detail__add {
        padding: 0.8rem;
    }

}

@media screen and (min-width: 1024px) {
    .detail {
        max-width: 900px;
    }

    .detail__quantity {
        justify-content: space-between;
    }

    .detail__units {
        padding: 0;
    }

    .detail__home__button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }

    .detail__empty__stock {
        padding: 0;
    }
}
