.header {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 130px auto 80px; 
}

.header__img {
    max-width: 300px;
}

.header__title {
    margin: 30px 0 20px;
}

.header__description {
    margin-bottom: 10px;
    line-height: 1.6rem;
}

.header__button {
    width: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.header__button__icon {
    margin-left: 2px;
    font-size: 1.2rem;
    transition: transform .3s ease-in-out;
}

.header__button:hover .header__button__icon {
    transform: translateX(5px);
}

/*Media queries*/

@media screen and (min-width: 768px){
    .header {
        max-width: 700px;
        flex-direction: row;
        column-gap: 60px;
    }

    .header__title {
        margin-top: 0;
    }

    .header__img {
        max-width: 400px;
    }

    .header__text {
        text-align: start;
    }

    .header__button {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        max-width: 900px;
    }

    .header__img {
        max-width: 500px;
    }
}