.footer {
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    padding: 20px;
    margin-top: 100px;
}

.footer a {
    color: var(--white)
}

.footer a:hover {
    color: var(--dark-pink);
    transition: color 0.3s;
}

.footer__logo {
    max-width: 150px;
}

.footer__newsletter {
    margin: 20px 0;
}

.footer__newsletter__subtitle {
    color: var(--light-pink);
}

.footer__newsletter__title {
    margin: 5px 0 25px;
    color: var(--dark-pink)
}

.footer__form__email {
    color: var(--white);
    border: none;
    border-bottom: 1px solid var(--white);
    margin-right: 15px;
}

.footer__form__email:focus {
    outline: solid var(--white) 2px;
    transform: scale(0.95); 
}

.footer__form__submit {
    width: 100px;
}

.footer__form__submit:focus {
    outline: solid var(--white) 2px;
    transform: scale(0.95);
}

.footer__contact {
    margin: 35px 0;
}

.footer__contact__title {
    margin: 25px 0 10px;
}

.footer__contact__phone {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.footer__contact__socials {
    display: flex;
    column-gap: 25px;
}

.footer__contact__icon, .footer__contact__social {
    font-size: 1.6rem;
}

.footer__credits {
    border-top: 1px solid var(--white);
    padding: 10px 10px 0 0;
}

.footer__credits p {
    font-size: 0.8rem;
    margin: 10px 0;
}

.footer__credits__icon {
    font-size: 1.6rem;
}

.footer__credits__github, .footer__credits__linkedin {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

/*Media queries*/

@media screen and (min-width: 768px) {
    .footer__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 50px 0;
    }

    .footer__logo {
        max-width: 170px;
    }

    .footer__newsletter, .footer__contact {
        margin: 0;
    }

    .footer__contact__title {
        margin-top: 0;
    }

    .footer__contact__phone {
        margin-bottom: 20px;
    }

    .footer__credits__container {
        display: inline-flex;
        column-gap: 20px;
    }

    .footer__credits {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width: 357px) {
    .footer__form__submit {
        margin-top: 15px;
    }
}